GEMINI_API_KEY=__PUT_YOUR_KEY__
GEMINI_EMBED_MODEL=models/text-embedding-004
GENERATION_MODEL=models/gemini-2.5-flash
CHROMA_PERSIST_DIR=./vectorstore
COLLECTION_NAME=jenosize-ideas
APP_ENV=development
LOG_LEVEL=INFO
DATA_PATH=./data
RAW_PATH=./data/raw
PROCESSED_PATH=./data/processed
PROJECT_NAME=mini-jane-demo
