
# ====== API Keys ======
GEMINI_API_KEY=__PUT_YOUR_KEY__

# ====== Embedding Config ======
GEMINI_EMBED_MODEL=models/text-embedding-004
LANG_MODE=multilingual
CHROMA_PERSIST_DIR=./notebooks/vectorstore
COLLECTION_NAME=jenosize-ideas

# ====== App Mode ======
APP_ENV=development
LOG_LEVEL=INFO
AUTO_REINDEX=0  

# ====== Metadata ======
PROJECT_NAME=mini-jane-demo
DATA_PATH=./data
RAW_PATH=./data/raw
PROCESSED_PATH=./data/processed
GENERATION_MODEL=models/gemini-2.5-flash

